.box {
    box-sizing: border-box;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.p-5 {
    padding: 5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.microsite-premiere .mbr-top-of-page-wrapper.ant-new-nav-wrapper .ant-top-wrapper {
    position: relative;
    z-index: 5;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer {
    background-color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: var(--bs-body-text-align);
}

.icon {
    cursor: pointer;
}

.footer-nav {
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}